# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Shell scripts
[*.{sh,bash,spec}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Config files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# Shell configs
[.{shellspec,shellcheckrc}]
indent_style = space
indent_size = 2
