{
  "arrowParens": "avoid",
  "printWidth": 120,
  "trailingComma": "all",
  "useTabs": false,
  "quoteProps": "preserve",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [".vscode/*.json"],
      "options": {
        "parser": "jsonc",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}

